.map_parent {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: stretch;
  justify-content: center;

  .search_input {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;

    .input {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;

      .btn{
        background-color: rgb(255, 195, 146);
        height: 100%;
        padding: 0px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        cursor: pointer;
      }

      input {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        border: 1px solid gray;
        outline: none;
        padding: 4px 8px;
      }
    }

    .list {
      width: 90%;
      height: 500px;
      background-color: rgb(255, 195, 146);
      overflow: auto;
      padding: 20px;

      ul {
        padding-left: 20px;
        li {
          cursor: pointer;
        }
      }
    }
  }
}
